{% extends 'base.html' %}
{% load bootstrap4 %}

{% block context %}
    <div class="container">
        <h1 class="text-center">Alterar senha</h1>
        {% bootstrap_messages %}

        <form action="{% url 'alterarSenha' %}" method="post" class="form" autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %}

            {% bootstrap_form form %}
            {% buttons %}
                <a class="btn btn-info" href="{% url 'index' %}" role="button"> Voltar </a>
                <button type="submit" class="btn btn-primary">Alterar Senha</button>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}
